<div class="container my-3">
    <form onsubmit="return addProduct(this)">
      <h2 class="fs-4">Añadir Producto</h2>
      <label class="h5 my-2" for="title">Titulo</label>
      <input class="form-control w-25" type="text" id="title" name="title" placeholder="Titulo" required>
      <label class="h5 my-2" for="price">Precio</label>
      <input class="form-control w-25" type="text" id="price" name="price" placeholder="Precio" required>
      <label class="h5 my-2" for="thumbnail">URL de imagen</label>
      <input class="form-control mb-3 w-25" type="text" id="thumbnail" name="thumbnail" placeholder="URL" required>
      <input class="btn-view" type="submit" value="Añadir" class="button">
    </form>
</div>