<div class="card-body cart my-5">
    <div class="col-sm-12 empty-cart-cls text-center">
    <img class='mb-5 img-fluid mr-2' src="/assets/img/logos/404.png" width="450"/>
      <h3><strong>La pagina que buscas no existe!</strong></h3>
      <a href="/productos"><button type="button" class="my-3 px-3 btn-view fs-5">◄ Volver</button></a>
    </div>
</div>