<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Estilos -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <link rel="stylesheet" href="/style.css">
    <title>Deer Crypto Shop - Login</title>
</head>
<body class="deer-theme-dark">
    <div class="container mt-5 d-flex align-items-center flex-column">
        <section class="w-50 p-4 d-flex align-items-center flex-column pb-4 card bordes-neon bg-black">
          <h2 class="mb-5">Login</h2>
            <form action="/login" method="post" class="d-flex align-items-center flex-column" style="width: 22rem;">
              <!-- Email input -->
                <div class="form-outline mb-4">
                <input type="email" id="email" name="email" class="form-control" required value=<%= email %>>
                <label class="form-label" for="email" style="margin-left: 0px;">Email</label>
                    <div class="form-notch">
                        <div class="form-notch-leading" style="width: 9px;">
                        </div>
                        <div class="form-notch-middle" style="width: 88.8px;">
                        </div>
                        <div class="form-notch-trailing">
                        </div>
                    </div>
                </div>      
              <!-- Password input -->
              <div class="form-outline mb-4">
                <input type="password" id="password" name="password" class="form-control" required value=<%= password %>>
                <label class="form-label" for="password" style="margin-left: 0px;">Contraseña</label>
                    <div class="form-notch">
                        <div class="form-notch-leading" style="width: 9px;">
                        </div>
                        <div class="form-notch-middle" style="width: 88.8px;">
                        </div>
                        <div class="form-notch-trailing">
                        </div>
                    </div>
                </div>
              <button type="submit" class="btn-dwd mb-4">Ingresar</button>              
            </form>
            <a href="/signUp"><button class="btn-dwd mb-4">Registrarse</button></a>
          </section>
    </div>
</body>
</html>