<a href="/api/productos/">
<button class="btn-view m-3">🔙 Volver a Productos</button>
</a>
  <div class="container">
    <form action="/api/productos" method="post" >
      <h2 class="fs-4">Agregar Producto</h2>
      <label class="h5 my-2" for="title">Title</label>
      <input class="form-control w-25" type="text" id="title" name="title" placeholder="Titulo">
      <label class="h5 my-2" for="price">Price</label>
      <input class="form-control w-25" type="text" id="price" name="price" placeholder="Precio">
      <label class="h5 my-2" for="thumbnail">Thumbnail</label>
      <input class="form-control mb-3 w-25" type="text" id="thumbnail" name="thumbnail" placeholder="URL Imagen">
      <input class="btn-view" type="submit" value="Añadir" class="button">
    </form>
  </div>