<!-- <div>
    <h4>Chat!</h4>
    <form id="form2" onsubmit="return addMessage(this)">
      <input type="email" required placeholder="email" id="email" />
      <input type="'text" placeholder="text" id="text" />
      <button>send</button>
    </form>
</div>

<ul id="chat-container"></ul> -->